<h2>My Profile</h2>

<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Frequent Flyer Miles: 0</b>
  <em>You should go somewhere and earn some miles.</em>
</p>


